<div class="welcome">

    <div class="card-welcome">

        <p>Bienvenido a la granja del abuelo</p>
        <button class="btn btn-primary">
            <a href="http://localhost:4000/products" style="color: #ffffff; text-decoration: none;">ingresar</a>
            </button>

    </div>

</div>